body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('src/train.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
}

table {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px 100px;
}

.topleft {
    width: 25%;
    padding: 30px;
    float:left;
    height: 100vh;
    min-width: 480px;
    width: 25%; 
    padding: 30px; 
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
    border-right: 5px solid black;
}

.wrapper{ 
    width: 360px; 
    padding: 20px; 
}

.float-container {
    margin: 0;
}

.float-child {
    width: 70%;
    float: right;
    padding: 20px;
    margin-right: 50px;
    margin-top: 50px;
    border: 5px solid ;
    border-radius: 14px;
    height: 75vh;
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
} 

.float-childsmall {
    width: 20%;
    float: left;
    padding: 20px;
    height: 75vh;
} 

.blur {
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
    width: fit-content;
    margin: 18px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

.resultBoxes {
    border: 3px solid black;
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
    margin: 18px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.resultBoxes:hover {
    transform: scale(1.006);
}

.center { 
    margin: auto; 
    width: 25%; 
    padding: 30px; 
    border: 3px solid #E7CEB5; 
    border-radius: 5px; 
    position: absolute; 
    top: 28%; 
    left: 38%
}

.bottom { 
    position: absolute; 
    bottom:0; 
    margin: auto; 
    width: 100%
}

.item {
    width: 10%;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
}

.large {
    font-size: 25px;
    width: 20%;
    padding-left: 0px;
    margin-left: 0px;
}

.end {
    margin-left: auto;
}

.item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.topbar {
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
    color: #19191a;
    margin: 0px;
    font-size: 40px; 
    font-weight: bold;
    top: 0;
    width: 100%; 
    min-width: 1200px;
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid black;
    font-size: 30px;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 20px;;
    right: 20px;
    background-color: rgba(173, 173, 173, 0.21);
    backdrop-filter: blur(20px);
    color: #19191a;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

.loginsignup {
    margin-right: 20px;
    font-size: 14px;
    vertical-align: middle;
}

.loginsignup:hover {
    cursor: pointer;
    text-decoration: underline;
}

.background{
    background-color: #E7CEB5;
}

.searchInfo {
    width: fit-content;
}

.bookButton {
    margin-left: auto;
}

.bookButton > button {
    height: 100%;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.21);
}

.bookButton > button:hover {
    background-color: rgba(248, 50, 0, 0.575);  
}

.blurInput {
    background-color: rgba(255, 255, 255, 0.233) !important;
    border: 2px solid black !important;
}

.thicc {
    border: 5px solid black !important;
    display:block !important;
}