body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.options {
    display: inline-grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: 50px;
}

.item {
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
    padding: 15px;
    height: 200px;
}

.topbar {
    background-color: #b4b4b4; /* Grey background */
    color: #19191a;
    margin: 0px 100px 0px 0px;
    font-size: 40px; /* Big font size */
    font-weight: bold;
    position: relative; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    min-width: 1200px;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 1px 5px  rgb(104, 104, 104);
    justify-content: flex-end;
    font-size: 20px;
}

.loginsignup {
    margin-right: 20px;
    font-size: 14px;
    vertical-align: middle;
}

.loginsignup:hover {
    cursor: pointer;
    text-decoration: underline;
}